### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [9]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [10]:
#Sum function for Total # Players
total_players = len(purchase_data["SN"].unique())
total_players

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [11]:
purchase_data.dtypes

# #Unique Items 
unique_items = len(purchase_data["Item ID"].unique())
unique_items
#Average Price 
average_price = purchase_data["Price"].mean()
average_price
# #Number of Purchases
number_purchased = len(purchase_data["Purchase ID"])
number_purchased
# #Total Revenue

total_revenue = purchase_data["Price"].sum()
total_revenue

basic_cal_df = pd.DataFrame([{"Number of Unique Items": unique_items, "Average Price": round(average_price,2), "Number of Purchases": number_purchased, "Total Revenue" : round(total_revenue,2)}])
basic_cal_df.style.format({"Average Price": "${:,.2f}","Total Revenue": '${:,.2f}'})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [12]:
#Groupby purchase_data based on Gender

gender = purchase_data.groupby("Gender")

#Count total SN by gender
gender_count = gender.nunique()["SN"]
gender_count

#Percent players by gender
percent_gender = gender_count / total_players * 100

#Dataframe 

gender_demo = pd.DataFrame({"Percentage of Players": percent_gender,"Total Count": gender_count})

#Take out no index name to match table ex. 
gender_demo.index.name = None

#Formatting
gender_demo.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2f}"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [13]:
#Total Gender Purchase
purchase_count = gender["Purchase ID"].count()

#Avg purchase by Gender 
avg_price = gender["Price"].mean()

#Avg Purchase Total by Gender
avg_total = gender["Price"].sum()

#Average Purchase Price
avg_ppper_person = avg_total / gender_count

#DF with values

gender_demo2 = pd.DataFrame({"Purchase Count": purchase_count,"Average Purchase Price":avg_price,"Average Purchase Value":avg_total,"Avg Total Purchase per Person": avg_ppper_person})

#Match index title for Gender
gender_demo2.index.name = "Gender"

#Currency Formatting

gender_demo2.style.format({"Average Purchase Value":"${:,.2f}","Average Purchase Price":"${:,.2f}","Avg Total Purchase per Person":"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [19]:
# Creating the bins in which Data will be held
 
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9,34.9,39.9,100]

# Create the names for the age bins
group_names = ["<10", "10-14", "15-19", "20-24", "25-29","30-34","35-39","40+"]

#Segment age values 
purchase_data["Age Group"] = pd.cut(purchase_data["Age"],bins,labels=group_names)
purchase_data

#DF with Age Group 

ages_group = purchase_data.groupby("Age Group")

#New Count by Age
total_age_count = ages_group["SN"].nunique()

#Percent by Age 
percent_age = (total_age_count/total_players)*100
percent_age

#DF w values
age_demo = pd.DataFrame({"Percentage of Players":percent_age, "Total Count":total_age_count})

#Formatting
age_demo.index.name = None
age_demo.style.format({"Percentage of Players":"{:,.2f}"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame